{% extends 'base.html' %}

{% block style %}
    <style>
        li{
            display: inline-block;
            border: 5px solid purple;
            padding: 10px 20px;
        }
        a{
            text-decoration: none;
            color: chocolate;
        }
    </style>
{% endblock %}
{% block content %}
<h2>Список товаров</h2>
<ol>
    {% for item in items %}
        <li>
            <a href="{% url 'item-detail' item.id %}">{{ item.name }}</a>
            <p>
                {{ item.description }}
            </p>
        </li>
    {% endfor %}
</ol> 
<a href="{% url 'home' %}">на главную</a></p>   
{% endblock %}
